#container {

    text-align: center;
    background-color:#3880ff;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  img{
    opacity: 0.3; 
    padding-bottom:25px;
    margin: auto;
  }