#container {

  text-align: center;
  background-color:#3880ff;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
img{
  opacity: 0.3; 
  padding-bottom:165px;
  margin: auto;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.loginButton{
  width: 270px;
}

ion-toolbar{
  --border-color:#fff;
}
ion-list{
  background-color:#f5f6f6b0;
}
.oguzhan{
  background-color: #f5f6f6b0;
}
ion-content{
  min-height:0px;
}